<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @sub_categoria.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @sub_categoria.descricao %>
</p>

<p>
  <b>Categoria:</b>
  <%= @sub_categoria.categoria %>
</p>


<%= link_to 'Edit', edit_sub_categoria_path(@sub_categoria) %> |
<%= link_to 'Back', sub_categorias_path %>
